<body class="background">
  <div class="content">
    <div class="header"><h1>Dollar Dollar Bills</h1></div>
    <iframe
      class="video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/kJAcU08wx_g?autoplay=1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div class="para-content">
      <p class="para">
        The United States dollar (symbol: $; code: USD; also abbreviated US$ or
        U.S. Dollar, to distinguish it from other dollar-denominated currencies;
        referred to as the dollar, U.S. dollar, American dollar, or colloquially
        buck) is the official currency of the United States and its territories.
        The Coinage Act of 1792 introduced the U.S. dollar at par with the
        Spanish silver dollar, divided it into 100 cents, and authorized the
        minting of coins denominated in dollars and cents. U.S. banknotes are
        issued in the form of Federal Reserve Notes, popularly called greenbacks
        due to their historically predominantly green color. The monetary policy
        of the United States is conducted by the Federal Reserve System, which
        acts as the nation's central bank. The U.S. dollar was originally
        defined under a bimetallic standard of 371.25 grains (24.057 g) fine
        silver or, from 1837, 23.22 grains (1.505 g) fine gold, or $20.67 per
        troy ounce. The Gold Standard Act of 1900 linked the dollar solely to
        gold. From 1934 its equivalence to gold was revised to $35 per troy
        ounce. Since 1971 all links to gold have been repealed.[6] The U.S.
        dollar became an important international reserve currency after the
        First World War, and displaced the pound sterling as the world's primary
        reserve currency by the Bretton Woods Agreement towards the end of the
        Second World War. The dollar is the most widely used currency in
        international transactions.[7] It is also the official currency in
        several countries and the de facto currency in many others,[8][9] with
        Federal Reserve Notes (and, in a few cases, U.S. coins) used in
        circulation. As of February 10, 2021, currency in circulation amounted
        to US$2.10 trillion, $2.05 trillion of which is in Federal Reserve Notes
        (the remaining $50 billion is in the form of coins and older-style
        United States Notes).[10]
      </p>
    </div>
  </div>
</body>
